.column1 {
  width: 33%;
  float: left;
  background-color: red;
  box-sizing: border-box;
}

.column2 {
  width: 33%;
  float: left;
  background-color: orange;
  box-sizing: border-box;
}

.column3 {
  width: 33%;
 float: left;
 background-color: blue;
 box-sizing: border-box;
} 